@* Dashboard Layout*@
@inherits LayoutComponentBase
@layout MainLayout

<div>
    <aside>
        <!-- Sidebar content -->
        <p>Dashboard Sidebar</p>
    </aside>
    <section>
        @Body
    </section>
</div>
